.App {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.sidebar {
  width: 340px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 0;
}

.map-container {
  flex-grow: 1;
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 50%;
  left: 60px;
  z-index: 1000;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-button.collapsed {
  left: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", sans-serif;
}

.home,
.filter,
.favorites {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
