
#map {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, red, purple, orange, black);
  }
  
  .custom-icon {
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  .custom-icon-1 {
    background: linear-gradient(to bottom right, red, purple);
  }
  
  .custom-icon-2 {
    background: linear-gradient(to bottom right, orange, black);
  }
  .custom-icon i {
    font-size: 16px;
  }