.custom-marker-radioicon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
}

.radioicon-border {
  padding: 10px;
  border: 3.5px solid #ec6525; /* Farbe der Umrandung */
  border-radius: 50%; /* Rundet die Ecken ab */
  transition: background-color 0.3s, border-color 0.3s;
  z-index: 1000;
  display: flex; /* Flexbox für zentriertes Icon */
  justify-content: center; /* Horizontales Zentrieren */
  align-items: center;
}

.radioicon-border:hover {
  background-color: #ec6525; /* Hintergrundfarbe bei Hover */
  border-color: #af368c; /* Farbe der Umrandung bei Hover */
  color: #fff; /* Icon-Farbe bei Hover */
}

/* Anpassung der Cluster-Marker */

.marker-cluster-small {
  background-color: #af368d6c;
  opacity: 0.5;
}

.marker-cluster-small span {
  margin-left: -1px;
}

.marker-cluster-small div {
  background-color: #af368c; /* Farbe für kleine Cluster */
  color: #fff; /* Textfarbe */
}

.marker-cluster-medium span {
  margin-left: -1px;
}

.marker-cluster-medium div {
  background-color: #ec6525; /* Farbe für mittlere Cluster */
  color: #fff; /* Textfarbe */
}

.marker-cluster-large span {
  margin-left: -1px;
}

.marker-cluster-large div {
  background-color: #cf1820; /* Farbe für große Cluster */
  color: #fff; /* Textfarbe */
}

.loadingScreen {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ec6525;
  font-size: 100px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
}

.loading-text {
  font-size: 5dvw;
  font-weight: bold;
  color: #ffffff; /* Textfarbe */
  margin-bottom: 20px; /* Abstand zwischen Text und Loader */
}
.loader {
  --size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* gap: 10px; */
  gap: calc(var(--size) / 2);

  /* height: 100px; */
  height: calc(var(--size) * 5);
}

.loader div {
  /* width: 20px; */
  width: var(--size);

  /* height: 20px; */
  height: var(--size);

  /* border-radius: 20px; */
  border-radius: var(--size);

  background-color: #ec6525;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  /* 0%, 100% {
    height: 20px;
    background-color: #ffd700;
    } */

  25% {
    /* height: 100px; */
    height: calc(var(--size) * 5);
    background-color: #af368c;
  }

  50% {
    /* height: 20px; */
    height: var(--size);
    background-color: #cf1820;
  }

  /* 100% {
      height: 20px;
      background-color: #ffd700;
      } */
}

/* .loader :nth-child(1) {
  animation-delay: 0s;
} */

.loader :nth-child(2) {
  animation-delay: 0.2s;
}

.loader :nth-child(3) {
  animation-delay: 0.4s;
}

.loader :nth-child(4) {
  animation-delay: 0.6s;
}

.loader :nth-child(5) {
  animation-delay: 0.8s;
}

@media only screen and (max-width: 500px) {
  .loader {
    --size: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* gap: 10px; */
    gap: calc(var(--size) / 2);

    /* height: 100px; */
    height: calc(var(--size) * 5);
  }

  .loader div {
    /* width: 20px; */
    width: var(--size);

    /* height: 20px; */
    height: var(--size);

    /* border-radius: 20px; */
    border-radius: var(--size);

    background-color: #ec6525;
    animation: wave 2s infinite ease-in-out;
  }

  @keyframes wave {
    /* 0%, 100% {
    height: 20px;
    background-color: #ffd700;
  } */

    25% {
      /* height: 100px; */
      height: calc(var(--size) * 5);
      background-color: #af368c;
    }

    50% {
      /* height: 20px; */
      height: var(--size);
      background-color: #cf1820;
    }

    /* 100% {
    height: 20px;
    background-color: #ffd700;
  } */
  }

  /* .loader :nth-child(1) {
  animation-delay: 0s;
} */

  .loader :nth-child(2) {
    animation-delay: 0.2s;
  }

  .loader :nth-child(3) {
    animation-delay: 0.4s;
  }

  .loader :nth-child(4) {
    animation-delay: 0.6s;
  }

  .loader :nth-child(5) {
    animation-delay: 0.8s;
  }
}
