/*  background-color: #f8f4f1f6; color: rgb(32, 1, 43); */

.stationpage {
    padding:20px;
    height: 100%;
    overflow-y: auto;
    font-family: 'Fira Sans', sans-serif; /* Beispiel Schriftart */
    background: linear-gradient(135deg, #e9642695, #0e0e0eae, #1698d98f); /* Gradient background */
    color: white;
  }

  .fixed-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e; /* Hintergrundfarbe, um den Player hervorzuheben */
    z-index: 1000; /* Stellt sicher, dass der Player über anderen Elementen liegt */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(238, 113, 4, 0.957);
  }

  .content {
    margin-bottom: 200px; /* Platz für den fest fixierten Player */
    width: 100%;
    max-width: 600px;
  }
  select {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #fffffff3;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
  }

  select:focus {
    outline: none;
    box-shadow: 0 0 8px #ec6525;
  }

  ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  li {
    margin: 10px 10px;
    width: 100%;
  }

  button:focus{
    outline:none;
    box-shadow: 0 0 7px #af368c;
    
  }
 
