.stationpage {
  font-family: "Myriad Pro", sans-serif;
  background-color: #060b26;
  width: 380px;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  margin-bottom: 90px;
}

.stationpage::-webkit-scrollbar {
  display: none;
}

h1 {
  margin-bottom: 0px;
}

.headline {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #060b26;
  color: white;
  width: 380px;
}

.content {
  padding-top: 10px; /* Platz für die fixierte Überschrift */
  color: #ec6525;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #af368c;
  color: white;
  width: 100%;
}

.filter-select:hover {
  background-color: #cf1820;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul::after {
  content: "";
  display: block;
  height: 90px; /* Platz am Ende der Liste */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ec6525;
  border-radius: 5px;
}

li button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

li button:hover {
  color: #af368c;
}

.favorite-button {
  margin-left: 10px;
  font-size: 20px;
}

.favorite-button .filled,
.favorite-button .unfilled {
  width: 40px; /* Anpassung der Breite */
  height: 40px; /* Anpassung der Höhe */
}

.favorite-button .filled {
  fill: #cf1820; /* Farbe für das gefüllte Herz */
}

.favorite-button .unfilled {
  fill: none;
  stroke: #fff; /* Farbe für das ungefüllte Herz */
  stroke-width: 2;
}

.load-more-button-container {
  display: flex;
  justify-content: center;
}

.load-more-button {
  position: absolute;
  bottom: 80px;
  background-color: #ec6525;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.load-more-button:hover {
  background-color: #af368c;
}
